//homepage texts animation

@keyframes fadeInUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }

}

.fadeInUp {
  animation-name: fadeInUp;
}

//navbar animation

@keyframes animNav{
  from {
    transform: translateY(-30px);
    opacity: 0.3s;
      }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animNav {
  animation-name: animNav;
}