@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html{
  overflow-x: hidden;
}
body {
  background-color: #333!important;
  overflow-x: hidden;
}
nav{
  padding: 15px 80px !important;
  animation: animNav 0.5s ease;
  .navbar-brand{
    font-size: 25px;
    color: #fff!important;
    font-family: 'Montserrat', sans-serif;
     b{ //logo bold text
      font-family: 'Montserrat', sans-serif;
      color: #fff;
      font-weight: 700;

     }
  }
  .navbar-nav{
    margin-left: auto;
    .nav-item{
      margin: 20px;
      font-size: 20px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      a{
        color: #949494!important;
        text-decoration: none;
        transition: 0.2s ease;
        -webkit-transition: 0.2s ease;
        &:hover{
          color: #fff!important;
          text-decoration: none;
        }
      }
    }
  }
}

nav.fixed {
  padding: 15px 80px!important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: #333333cf;
  box-shadow: 0 5px 15px blur #0c0c0cde;

}